.coinCard {
  /* min-height: 22rem; */
  box-shadow: 1px 1px 5px 1px rgba(221, 221, 221, 1);
  margin-bottom: 2rem;
  padding: 2rem 2.5rem;
  text-align: center;
}

.textBlue {
  color: var(--blue);
}

.textHighlight {
  font-weight: 700;
  font-size: 0.9rem;
}
