@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

:root {
  --blue: #55b3e9;
  --blue-dark: #3d89cd;
  --red: #d94040;
  --gray: #bbbaba;
  --light-gray: #f5f5f7;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Bootstraps */
.form-block {
  min-width: 17rem;
}

.btn:focus {
  outline: none;
}

.btn.focus,
.btn:focus {
  box-shadow: none;
}

.py-6 {
  padding-top: 6rem;
}